{% extends "base.html" %}

{% block show_data %}
<style>
  .clickable {
    cursor: pointer;
  }
</style>
<div class="container hidden-sm">
  
</div>
<div class="container text-center">
  <div class=" col-12-md">
    <form action="{{ url_for('search_data_subject') }}" method="post">
      <label for="exampleDataList" class="form-label"></label>
      <input class="form-control" list="datalistOptions" id="genera-list-search-bar"
        placeholder="Pesquise pela matéria. Ex: ENG001, ARQ010" name="subject">
      </option>
      </option>
      </datalist>
    </form>
  </div>
  <div class="container text-center p-3">
    <h4>{{subject_search}}</h4>
  </div>
  <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">N° Coleg.</th>
        <!--<th class="th-sm">Matéria</th>-->
        <th class="th-sm">Turma</th>
        <th class="th-sm">Vagas Ofer.</th>
        <th class="th-sm">Demanda vagas</th>
        <th class="th-sm">Disp.</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr class="clickable"
        onclick="window.location='{{url_for('modal_popup', row_id=item.row_id, subject_in_box=subject_search)}}'">
        <td>{{ item.collegiate }}</td>
        <!--<td>{{ item.subject }}</td>-->
        <td>{{ item.classes }}</td>
        <td>{{ item.offered }}</td>
        <td>{{ item.demand }}</td>
        <td>{{ item.available }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block modal %}
{% endblock %}